.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3e8ff;
    padding: 1em;
  }
  
  .search-bar {
    padding: 0.5em;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  
  .cart-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .header nav {
    display: flex;
    gap: 1em;
  }
  
  .header nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  .header nav a:hover {
    color: #6b21a8; /* Morado oscuro para hover */
  }
  